VITE_API_BASE_URL=
VITE_SUPABASE_URL=https://ittezkydoiibzdxsboni.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dGV6a3lkb2lpYnpkeHNib25pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyODQ5MzQsImV4cCI6MjA4ODg2MDkzNH0.DjBCaooZEXFovRNN7wK0Mr19Z1Jdc5OiO87OCtDLoOI
