NODE_ENV=development
PORT=8080

# Frontend origin(s)
APP_ORIGIN=https://e-kotiba.vercel.app
CORS_ORIGINS=https://e-kotiba.vercel.app,http://localhost:5173

# Supabase
SUPABASE_URL=https://ittezkydoiibzdxsboni.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dGV6a3lkb2lpYnpkeHNib25pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyODQ5MzQsImV4cCI6MjA4ODg2MDkzNH0.DjBCaooZEXFovRNN7wK0Mr19Z1Jdc5OiO87OCtDLoOI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0dGV6a3lkb2lpYnpkeHNib25pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzI4NDkzNCwiZXhwIjoyMDg4ODYwOTM0fQ.Zjx1hm4WEhWEtVdjlNz_xHuAZEgGEfNzYZWWIB_cqAQ

# Gemini
GEMINI_API_KEY=AIzaSyC6ZfcSSouHZRGTg6GEkALdzfeF-Ocio1g
GEMINI_MODEL=gemini-1.5-flash

# UzbekVoice
UZBEKVOICE_STT_URL=https://uzbekvoice.ai/api/v1/stt
UZBEKVOICE_STT_API_KEY=58a888b6-86e4-461a-a315-b238512b6b98:f08f4873-dbb8-47b7-8b25-7cb617e3deb8
UZBEKVOICE_TTS_URL=https://uzbekvoice.ai/api/v1/tts
UZBEKVOICE_TTS_API_KEY=0a6581fa-99d4-4df6-a7a8-2133d3a7b6c6:edfb99f3-d8a0-407c-8e40-9334da585644

# Scheduler
REMINDER_JOB_CRON=*/1 * * * *
MEETING_JOB_CRON=*/5 * * * *
MEETING_AUDIO_REMINDER_CRON=*/1 * * * *
